<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <input formControlName="username" class="campos" type="text" placeholder="Username" required>
    </div>
    <div>
      <input formControlName="email" class="campos" type="email" placeholder="Email" required>
    </div>
    <div>
      <input formControlName="password" class="campos" type="password" placeholder="Password" required>
    </div>
    <div>
      <input formControlName="confirmPassword" class="campos" type="password" placeholder="Confirm Password" required>
    </div>
    <div class="contenedor_boton">
      <button class="btn_login" type="submit">Sign Up</button>
    </div>
  </form>
  