
<div class="user">
    <div class="contenedor_imagen">
        <img class="foto_user" src="images/foto_user_teemo.png" alt="foto_user">
    </div>
    <p class="nombre_user">Jexbii</p>
    <div class="user_stats">
        <div class="contenedor_stat">
            <p class="nombre_stat">Songs</p>
            <div class="stat_cantidad">
                <img class="imagen_stat" src="images/song_listened.png" alt="songs_listened">
                <p class="cantidad">354</p>
            </div>
        </div>
        <div class="contenedor_stat">
            <p class="nombre_stat">Rankeds</p>
            <div class="stat_cantidad">
                <img class="imagen_stat" src="images/ranked.png" alt="songs_listened">
                <p class="cantidad">354</p>
            </div>
        </div>
        <div class="contenedor_stat">
            <p class="nombre_stat">Reviews</p>
            <div class="stat_cantidad">
                <img class="imagen_stat" src="images/comment.png" alt="songs_listened">
                <p class="cantidad">354</p>
            </div>
        </div>
    </div>
</div>
