@if (isVisible) {
    <div class="modal">
      <div class="contenedor_principal">
        <div class="contenedor_boton_cerrar">
          <button class="boton_cerrar" (click)="closeModal()">x</button>
        </div>
  
        <div class="contenedor_cuerpo">
          <div class="cuerpo">
            <div class="lado_izquierdo">
              <img class="foto_cancion" [src]="albumCover" alt="Album cover">
              <app-your-rating class="rating_contenedor_modal"></app-your-rating>
              <p class="texto">Like</p>
              
              <!-- Cambiar el filtro según el estado de Like -->
              <div class="contenedor_stat" [style.filter]="isLiked ? 'grayscale(0%)' : 'grayscale(100%)'" (click)="toggleLike()">
                <img class="imagen_corazon" src="images/heart.png" alt="Like">
              </div>
            </div>
  
            <div class="lado_derecho">
              <div class="contenedor_titulo_released">
                <p class="titulo">{{ title }}</p>
                <p class="released">{{ releaseYear }}</p>
              </div>
              <p class="artist">{{ artist }}</p>
              <p class="date_listened">Listened {{ currentDate }}</p>
  
              <p class="texto_comment">Comment</p>
              <textarea class="input_design input_descripcion"></textarea>
            </div>
          </div>
        </div>
  
        <div class="contenedor_boton_cerrar">
          <button class="boton_review">Create</button>
        </div>
      </div>
    </div>
  }
  