

/* Clases para diferentes combinaciones de columnas y filas */
/*8X1*/
.contenedor-8x1 {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 150rem;
    margin: 0 auto;
    row-gap: 1.1rem;
    padding: 1.5rem 0;
}

.imagenPrueba-8x1{
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
    cursor: pointer;
}

/*4X2*/
.contenedor-4x2 {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    row-gap: 1.5rem;
}

.imagenPrueba-4x2{
    width: 27.5rem;
    height: 27.5rem;
    margin-bottom: 2.6rem;
    border-radius: 10px;
    cursor: pointer;
}


/*5X2*/
.contenedor-5x2 {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    row-gap: 1.5rem;
}

    
.imagenPrueba-5x2{
    width: 27.5rem;
    height: 27.5rem;
    margin-bottom: 2.6rem;
    border-radius: 10px;
    cursor: pointer;
}

.contenedor-5x2 {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    row-gap: 1.5rem;
}


.contenedor_watchlist{
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    margin: 2rem 0;
    margin-left: 2.2rem;
}

.imagen_watchlist{
    width: 18rem;
    height: 18rem;
    margin-bottom: 2.6rem;
    border-radius: 10px;
    margin: 1rem;
    cursor: pointer;
}
/* Puedes añadir más clases según las combinaciones que necesites */
