<div [ngClass]="{
    'contenedor-8x1': columns === 8 && rows === 1,
    'contenedor-4x2': columns === 4 && rows === 2,
    'contenedor-5x2': columns === 5 && rows === 2,
    'contenedor_watchlist': columns === 8 && rows === 4,
  }" 
  [ngStyle]="{
    'grid-template-columns': 'repeat(' + columns + ', 1fr)',
    'grid-template-rows': 'repeat(' + rows + ', 1fr)'
  }">


  @if (this.type == 'top10RankedAlbums') {
  @for (album of bestAlbums; track $index) {
    <a [routerLink]="['/album', album.id_album]">
      <img
        [ngClass]="{
            'imagenPrueba-8x1': columns === 8 && rows === 1,
            'imagenPrueba-4x2': columns === 4 && rows === 2,
            'imagenPrueba-5x2': columns === 5 && rows === 2,
            'imagen_watchlist': columns === 8 && rows === 4,
          }" 
        [src]="album.photo" alt="{{ album.title }}">
    </a>
  }
  
}


@if (this.type == 'top10RankedSongs') {
  @for (song of top10RankedSongs; track $index) {
    <a [routerLink]="['/song', song.id_song]">
      <img
        [ngClass]="{
            'imagenPrueba-8x1': columns === 8 && rows === 1,
            'imagenPrueba-4x2': columns === 4 && rows === 2,
            'imagenPrueba-5x2': columns === 5 && rows === 2,
            'imagen_watchlist': columns === 8 && rows === 4,
          }" 
        [src]="song.photo" alt="{{ song.title }}">
    </a>
  }
  
}



  <!-- ----------------- WATCHLIST ------------------ -->
  @if (this.type === 'watchlistSongs') {
    @for (song of watchlistSongs; track $index) {
      <a [routerLink]="['/song', song.id_song]">
        <img 
          [src]="song.photo" 
          [alt]="song.title"
          [ngClass]="{
            'imagenPrueba-8x1': columns === 8 && rows === 1,
            'imagenPrueba-4x2': columns === 4 && rows === 2,
            'imagenPrueba-5x2': columns === 5 && rows === 2,
            'imagen_watchlist': columns === 8 && rows === 4
          }"
        />
      </a>
    }
  }



  @if (this.type === 'watchlistAlbums') {
    @for (album  of watchlistAlbums; track $index) {
      <a [routerLink]="['/song', album.id_album]">
        <img 
          [src]="album.photo" 
          [alt]="album.title"
          [ngClass]="{
            'imagenPrueba-8x1': columns === 8 && rows === 1,
            'imagenPrueba-4x2': columns === 4 && rows === 2,
            'imagenPrueba-5x2': columns === 5 && rows === 2,
            'imagen_watchlist': columns === 8 && rows === 4
          }"
        />
      </a>
    }
  }


  @if (this.type === 'listenedSongs') {
    @for (song  of listenedSongs; track $index) {
      <a [routerLink]="['/song', song.id_song]">
        <img 
          [src]="song.photo" 
          [alt]="song.name"
          [ngClass]="{
            'imagenPrueba-8x1': columns === 8 && rows === 1,
            'imagenPrueba-4x2': columns === 4 && rows === 2,
            'imagenPrueba-5x2': columns === 5 && rows === 2,
            'imagen_watchlist': columns === 8 && rows === 4
          }"
        />
      </a>
    }
  }





  @if (this.type === 'listenedAlbums') {
    @for (album  of listenedAlbums; track $index) {
      <a [routerLink]="['/album', album.id_album]">
        <img 
          [src]="album.photo" 
          [alt]="album.name"
          [ngClass]="{
            'imagenPrueba-8x1': columns === 8 && rows === 1,
            'imagenPrueba-4x2': columns === 4 && rows === 2,
            'imagenPrueba-5x2': columns === 5 && rows === 2,
            'imagen_watchlist': columns === 8 && rows === 4
          }"
        />
      </a>
    }
  }
 

</div>