<div [ngClass]="{
    'contenedor-8x1': columns === 8 && rows === 1,
    'contenedor-4x2': columns === 4 && rows === 2,
    'contenedor-5x2': columns === 5 && rows === 2,
    'contenedor_watchlist': columns === 8 && rows === 4,
  }" 
  [ngStyle]="{
    'grid-template-columns': 'repeat(' + columns + ', 1fr)',
    'grid-template-rows': 'repeat(' + rows + ', 1fr)',
    'position': 'relative',
    'left': '0px'
  }">


  @if (this.type == 'top10RankedAlbums') {
  @for (album of bestAlbums; track $index) {
    <a [routerLink]="['/album', album.id_album]">
      <img
        [ngClass]="{
            'imagenPrueba-8x1': columns === 8 && rows === 1,
            'imagenPrueba-4x2': columns === 4 && rows === 2,
            'imagenPrueba-5x2': columns === 5 && rows === 2,
            'imagen_watchlist': columns === 8 && rows === 4,
          }" 
        [src]="album.photo" alt="{{ album.title }}">
    </a>
  }
}
@else if (this.type == 'null') {
  <p>Hola</p>
}



  <!-- ----------------- NEW SONGS ------------------ -->
  <!-- @if (this.type == 'newSongs') {
    @for (album of bestAlbums; track $index) {
      <img
      [ngClass]="{
          'imagenPrueba-8x1': columns === 8 && rows === 1,
          'imagenPrueba-4x2': columns === 4 && rows === 2,
          'imagenPrueba-5x2': columns === 5 && rows === 2,
          'imagen_watchlist': columns === 8 && rows === 4,
        }" 
      [src]="album.photo" alt="{{ album.title }}">
    }
  } @else if (this.type == 'song') {
    <p>Hola</p>
  } -->


 <!-- ----------------- NEW ALBUMS ------------------ -->
  <!-- @if (this.type == 'newAlbums') {
    @for (album of bestAlbums; track $index) {
      <img
      [ngClass]="{
          'imagenPrueba-8x1': columns === 8 && rows === 1,
          'imagenPrueba-4x2': columns === 4 && rows === 2,
          'imagenPrueba-5x2': columns === 5 && rows === 2,
          'imagen_watchlist': columns === 8 && rows === 4,
        }" 
      [src]="album.photo" alt="{{ album.title }}">
    }
  } @else if (this.type == 'song') {
    <p>Hola</p>
  } -->


  <!-- ----------------- RECOMENDACIONES ------------------ -->
  <!-- @if (this.type == 'newAlbums') {
    @for (album of bestAlbums; track $index) {
      <img
      [ngClass]="{
          'imagenPrueba-8x1': columns === 8 && rows === 1,
          'imagenPrueba-4x2': columns === 4 && rows === 2,
          'imagenPrueba-5x2': columns === 5 && rows === 2,
          'imagen_watchlist': columns === 8 && rows === 4,
        }" 
      [src]="album.photo" alt="{{ album.title }}">
    }
  } @else if (this.type == 'song') {
    <p>Hola</p>
  } -->


  <!-- ----------------- Top 10 Rankeds ------------------ -->
  <!-- @if (this.type == 'newAlbums') {
    @for (album of bestAlbums; track $index) {
      <img
      [ngClass]="{
          'imagenPrueba-8x1': columns === 8 && rows === 1,
          'imagenPrueba-4x2': columns === 4 && rows === 2,
          'imagenPrueba-5x2': columns === 5 && rows === 2,
          'imagen_watchlist': columns === 8 && rows === 4,
        }" 
      [src]="album.photo" alt="{{ album.title }}">
    }
  } @else if (this.type == 'song') {
    <p>Hola</p>
  } -->


  <!-- ----------------- WATCHLIST ------------------ -->
  @if (this.type == 'watchlist') {
    @for (album of bestAlbums; track $index) {
      <img
      [ngClass]="{
          'imagenPrueba-8x1': columns === 8 && rows === 1,
          'imagenPrueba-4x2': columns === 4 && rows === 2,
          'imagenPrueba-5x2': columns === 5 && rows === 2,
          'imagen_watchlist': columns === 8 && rows === 4,
        }" 
      [src]="album.photo" alt="{{ album.title }}">
    }
  } @else if (this.type == 'song_watch_list') {
    <p>Hola</p>
  }
  


</div>