.contenedor_principal{
    font-family: 'jomhuria', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35rem;
    background-color: #0D0B29;
    border-radius: 2rem;
    font-size: 6.5rem;
}

.contenedor_foto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 2rem 0;
}

.imagen_stat{
    width: 11rem;
    height: 11rem;
}

.contenedor_texto{
    display: flex;
    text-align: center;
    padding: 1rem 0 2rem 0;
    line-height: 0.6;
}

.texto_stat{
    margin: 0;
}