<div class="contenedor_principal" [ngClass]="{'background-transparent': isListRoute}">
    <div class="contenedor_foto">
      <img class="foto_song" [routerLink]="['/', rutaclick, albumId]" [src]="albumCover || 'ruta/a/imagen_por_defecto.jpg'" alt="Album Cover">
    </div>
    <div class="contenedor_datos">
      @if (isListRoute) {
        <div class="contenedor_datos_creator">
          <img class="foto_creator" src={{creator_photo}} alt="fotoUser" [routerLink]="['/profile', id_user_creator]" routerLinkActive="router-link-active" >
          <p class="text_creator" [routerLink]="['/profile', id_user_creator]" routerLinkActive="router-link-active" >{{creator_username}} created the list</p>
        </div>
      }
      <div class="contenedor_title_released">
        <p class="title_song" [routerLink]="['/', rutaclick, albumId]">{{ title || 'Título desconocido' }}</p>
        @if (!isListRoute) {
          <p class="released">{{ releaseYear || 'Año desconocido' }}</p>
        }
        
      </div>

      @if (isListRoute) {
        <p class="comment">Si programas en angular esta es sin duda tu mejor opción para concentrate. Disfruta de la Musica Mientras Tiras codigo Si programas en angular esta es sin duda tu mejor opción para concentrate. Disfruta de la Musica Mientras Tiras codigo</p>
      }
      
      @if (!isListRoute) {
        <p [routerLink]="['/artist', idArtist]" class="name_artist">{{ artist || 'Artista desconocido' }}</p>
      }
      
      <div class="contenedor_stats">

        @if (isListRoute) {
          <div class="stat">
            <p class="cantidad_stat stat_list">Songs: {{totalSongs}}</p>
          </div>
        }

        @if (!isSongHeardBy && !isAlbumHeardBy && !isListRoute) {
          <div class="stat" [routerLink]="['/', rutaclick + 'HeardBy', albumId]">
            <img class="imagen_stat" src="images/song_listened.png" alt="">
            <p class="cantidad_stat">{{ listens || 0 }}</p>
          </div>
        }
        
        <div class="stat">
          <img class="imagen_stat" src="images/comment.png" alt="">
          <p class="cantidad_stat">{{ reviewCount || 0 }}</p>
        </div>
        @if (isSongRoute) {
          <div class="stat" [routerLink]="['/WithThisSong', albumId]">
            <img class="imagen_stat" src="images/lists_created.png" alt="">
            <p class="cantidad_stat">{{ listsCreated || 0 }}</p>
          </div>
        }
        @if (!isSongLikedBy && !isAlbumLikedBy) {
          <div class="stat" [routerLink]="['/', rutaclick + 'LikedBy', albumId]">
            <img class="imagen_stat" src="images/heart.png" alt="">
            <p class="cantidad_stat">{{ likes || 0 }}</p>
          </div>
        }

        <!-- @if (isListRoute) {
          <div class="contenedor_rate contenedor_rate_list">
            <img class="imagen_estrella" src="images/star.png" alt="">
            <img class="imagen_estrella" src="images/star.png" alt="">
            <img class="imagen_estrella" src="images/star.png" alt="">
            <img class="imagen_estrella" src="images/star.png" alt="">
            <img class="imagen_estrella" src="images/star.png" alt="">
            <p class="texto_stat texto_star">From {{ ratingCount || 0 }} Ratings</p>
          </div>
        } -->
       
      </div>
      <!-- @if (!isListRoute) {
        <div class="contenedor_rate">
          <img class="imagen_estrella" src="images/star.png" alt="">
          <img class="imagen_estrella" src="images/star.png" alt="">
          <img class="imagen_estrella" src="images/star.png" alt="">
          <img class="imagen_estrella" src="images/star.png" alt="">
          <img class="imagen_estrella" src="images/star.png" alt="">
          <p class="texto_stat texto_star">From {{ ratingCount || 0 }} Ratings</p>
        </div>
      } -->
      

      @if (!isListRoute) {
        <p class="total_released texto">Released {{ releaseDate || 'Fecha desconocida' }}</p>
      <p class="languaje texto">Language: {{ language || 'Idioma desconocido' }}</p>
      }
      
    </div>
  </div>
  

  