<app-encabezado></app-encabezado>

<div class="contenedor_principal">
    <app-ranked-especifica></app-ranked-especifica>
    <app-ranked-especifica></app-ranked-especifica>
    <app-ranked-especifica></app-ranked-especifica>
    <app-ranked-especifica></app-ranked-especifica>
    <app-ranked-especifica></app-ranked-especifica>
    <app-ranked-especifica></app-ranked-especifica>
    <app-ranked-especifica></app-ranked-especifica>
    <app-ranked-especifica></app-ranked-especifica>
    <app-ranked-especifica></app-ranked-especifica>
</div>


<app-btn-view-more></app-btn-view-more>