
.contenedor_principal{
    font-family: 'jomhuria';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49rem;
    height: 19rem;
    background-color: #0D0B29;
    border-radius: 1rem;
    padding-bottom: 2rem;
    margin: 2rem 0;
}

.texto{
    margin: 0;
    font-size: 6rem;
}

.contenedor_rate{
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

/* Normal */
.imagen_estrella {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    position: absolute;
  }
  
  .fondo {
    filter: grayscale(100%);
  }
  .foreground {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    filter: grayscale(100%);
  }
  
  .foreground.hovered,
  .foreground.selected {
    filter: grayscale(0%);
  }
  
  .foreground.half-hovered,
  .foreground.half-selected {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    filter: grayscale(0%);
  }
  
  .foreground.neutral {
    filter: grayscale(100%);
  }
  
  /* Para asegurarse de que las estrellas se superpongan */
  .estrella {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 7rem;
  }
  

  .contenedor_borrar_rating{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .borrar_rating{
    margin: 0;
    font-size: 5rem;
    margin-top: 2rem;
    margin-right: 1rem;
  }

  ::ng-deep .rating_contenedor_modal .contenedor_rate  {
    background-color: #021333;
    gap: 0;
  }

  ::ng-deep .rating_contenedor_modal .contenedor_principal  {
    background-color: #021333;
    width: 30rem;
    height: 13rem;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
  }

  ::ng-deep .rating_contenedor_modal .imagen_estrella  {
    width: 4rem;
    height: 4rem;
    gap: 0;
  }

  ::ng-deep .rating_contenedor_modal .estrella  {
    width: 4.5rem;
  }

  ::ng-deep .rating_contenedor_modal .texto  {
    font-size: 4rem;
    
  }


  ::ng-deep .rating_contenedor_modal .borrar_rating {
    margin: 0;
    margin-bottom: 2.2rem;
    margin-right: 2rem;
    font-size: 4rem;
  }
