<div class="contenedor_principal">
    <div class="contenedor_elementos">
        <img class="foto_user" src="images/steve.png" alt="">
        <div class="contenedor_datos">
            <div class="contenedor_nombre_listened">
                <p class="nombre_user">Steve</p>
                <p class="listened">Listened 15 Sep, 2024.</p>
            </div>
            <div class="contenedor_rate">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
            </div>

            <p class="comment">“This song makes me travel to the beach thinking about my other half This song makes me travel to the beach thinking about my other half  me travel to the beach thinking about my other half other half This song makes me travel to the beach thinking about my other half This song makes me travel to the beach thinking about my other half ”
            </p>
        </div>
    </div>
</div>