@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:host {
    font-family: 'Jockey One', sans-serif; /* Aplica la fuente a todo el componente */
}

p{
    margin: 0;
    padding: 0;
}

.contenedor_principal {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    align-items: center;
    gap: 3rem;
    width: 177.5rem;
    height: 62rem;
    margin: 0 auto;
}

