<div class="contenedor_principal">
<!-- contenedor_datos_user -->
    <div class="contenedor_datos_user">
        <div class="contenedor_edit_profile">
            <p>Edit Profile</p>
            <img class="foto_engranaje" src="images/engranaje.png" alt="">
        </div>
        <div class="contenedor_foto">
            <img class="foto_user" src="images/foto_user_teemo.png" alt="">
            <p class="nombre_user">Jexbii</p>
        </div>
        <div class="contenedor_stats_user">
            <div class="contenedor_stats_songs">
                <p class="valor_stats">674</p>
                <p class="titulo_stats">Songs</p>
            </div>
            <div class="contenedor_stats_followind">
                <p class="valor_stats">325 k</p>
                <p class="titulo_stats">Following</p>
            </div>
            <div class="contenedor_stats_followers">
                <p class="valor_stats">30,6k</p>
                <p class="titulo_stats">Followers</p>
            </div>
        </div>
    </div>
<!-- contedor_bio_stats -->
    <div class="contenedor_bio_stats">
        <div class="contenedor_biografia">

        </div>
        <div class="contenedor_stats_bio">
            
        </div>
    </div>
<!-- contenedor_history -->
    <div class="contenedor_history">

    </div>
<!-- contenedor_lists -->
    <div class="contenedor_lists">

    </div>
</div>

<div class="favorites">

</div>