<div class="contenedor_song_album_componente">
    <app-datos-song-album class="song_album_componente"></app-datos-song-album>
</div>

<div class="contenedor_review">
    <div class="encabezado_datos_review">
        <p class="texto texto_encabezado">Review made by</p>
        <img class="foto_user" src="images/steve.png" alt="imgUser">
        <p class="texto">Jexbii</p>
    </div>
    <p class="texto texto_listened">Listened 15 Sep, 2024.</p>
    <p class="texto">This song makes me travel to the beach thinking about my other half This song makes me travel to the beach thinking about my other half  me travel to the beach thinking about my other half other half This song makes me travel to the beach thinking about my other half This song makes me travel to the beach thinking about my other half ❤️‍🔥.
        This song makes me travel to the beach thinking about my other half This song makes me travel to the beach thinking about my other half 💙
        </p>
    <div class="contenedor_stats">
        <div class="contenedor_likes">
            <img class="imagen_corazon" src="images/heart.png" alt="">
            <p class="texto texto_listened">Like Review</p>
            <p class="texto texto_listened texto_total_likes">3,019 Likes</p>
        </div>

    </div>
</div>

<div class="botones_comment">
    <p class="texto_comments">Comments</p>
    <button class="btnAddComment">+ Add Comment</button>
</div>

<app-comment></app-comment>