<app-listened-options [id_user]="selectedUserId"></app-listened-options>
<div class="contenedor_principal">
    <h1 class="titulo">Best users</h1>
    <div class="contenedor_users">
      <!-- Recorremos los top users y pasamos los parámetros necesarios a app-best-user -->
       @for (user of getTop8Users(); track $index) {
        <app-best-user
            [id_user]="user.id_user"
            [username]="user.username"
            [photo]="user.photo"
            [songs]="user.total_listened"
            [rankeds]="user.total_rankeds"
            [reviews]="user.total_reviews">
        </app-best-user>
       }
    </div>
  </div>
  @if (!isHomepage) {
    <div class="contenedor_follows">
      @if (remainingUserIds.length > 0) {
        <app-follows [userIds]="remainingUserIds"></app-follows>
      }
      
    </div>
  }
  

