<app-encabezado></app-encabezado>

<div class="contenedor_principal">
    <h1 class="titulo">Best users</h1>
    <div class="contenedor_users">
        <app-best-user></app-best-user>
        <app-best-user></app-best-user>
        <app-best-user></app-best-user>
        <app-best-user></app-best-user>
        <app-best-user></app-best-user>
        <app-best-user></app-best-user>
        <app-best-user></app-best-user>
        <app-best-user></app-best-user>
    </div>
    
</div>

<div class="contenedor_follows">
    <app-follows></app-follows>
    <app-follows></app-follows>
    <app-follows></app-follows>
    <app-follows></app-follows>
</div>

<app-btn-view-more></app-btn-view-more>