.contenedor_principal {
  font-family: 'jockey one', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  width: 150rem;
  margin: 0 auto;
  row-gap: 3rem;
}

.foto_ranked {
    width: 10.1rem;
    height: 10.1rem;
    border-radius: 1.3rem;
    margin-top: 1rem;
}

.datos_ranked {
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
    line-height: 1.1;
}

.contenedor_nombre_released {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nombre_song {
    font-size: 3rem;
    max-width: 18rem;
    margin: 0;
}

.nombre_list{
    max-width: 26rem;
}

.released_song {
    font-size: 2.5rem;
    margin: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    opacity: 65%;
}

.nombre_artist {
    margin: 0;
    font-size: 2rem;
    color: #C6FF41;
}

.titulo_rate {
    margin: 0;
    font-size: 1.5rem;
    margin: 0.3rem 0 0.2rem 0;
}

.contenedor_rate {
    display: flex;
    gap: 0.1rem;
}

.imagen_estrella {
    width: 1.5rem;
    height: 1.5rem;
}

.contenedor_foto_ranked {
    cursor: pointer;
    display: flex;
    padding: 1rem 0rem 1rem 1.5rem;
    gap: 2rem;
    width: 45rem;
    background-color: #0D0B29;
    border-radius: 2rem;
}

.texto_date_ranked {
  margin: 0;
  opacity: 70%;
  margin: 0.5rem 0;
  font-size: 1.4rem;
}


.texto_list_creator {
  color: white;
  opacity: 70%;
}


.contenedor_principal2 {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 80%;
    margin: 3rem auto;
  }
  
  .contenedor_filtros {
    font-family: 'jockey one', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #0D0B29;
    border-radius: 1.2rem;
    padding: 2rem 8rem;
  }
  
  .filtros {
    display: flex;
    gap: 2rem;
  }
  
  .texto_encabezado {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .texto_search_by {
    opacity: 60%;
  }
  
  /* Estilo para los filtros */
  .filtro {
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .filtro:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .filtro.selected {
    font-size: 2rem;
      background-color: #111b4d;  /* Color verde cuando está seleccionado */
      color: white;
  }
  

p{
  margin: 0;
}