@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:host {
    font-family: 'Jockey One', sans-serif; /* Aplica la fuente a todo el componente */
}

p {
    margin: 0;
    padding: 0;
}

.contenedor_datos_user {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #0D0B29;
    border-radius: 2rem;
    height: 62rem;
}

.contenedor_edit_profile {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
    margin: 0 0 3rem 0;
    height: 40px;
}

.foto_engranaje {
    width: 2.8rem;
    height: 2.8rem;
}

.contenedor_foto {
    position: relative; /* Necesario para posicionar el botón respecto al contenedor */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.foto_user {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 0.5rem solid white;
}

.btn_follow {
    font-family: 'Jockey One', sans-serif;
    position: absolute;
    bottom: 25%; 
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    height: 4rem;
    background-color: #003369;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn_follow:hover {
    background-color: #012145;
}

.nombre_user {
    font-size: 4rem;
    margin: 3rem 2rem 2rem 2rem;
    background-color: #0A0824;
    border-radius: 2rem;
}

.nombre_user[readonly] {
    pointer-events: none; /* Deshabilita cualquier interacción con el textarea */
}
  
.nombre_user[readonly]::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en los navegadores basados en WebKit */
}
  

.contenedor_stats_user {
    background-color: #0A0824;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5rem;
    width: 38rem;
    height: 8rem;
    padding: 1rem 0;
    margin: 2rem auto;
    border-radius: 2rem;
    line-height: 1;
}

.valor_stats {
    font-size: 3rem;
}

.titulo_stats {
    font-size: 2rem;
    opacity: 60%;
}

.nombre_user {
    font-family: 'Jockey One', sans-serif;
    background-color: #0D0B29;
    color: white;
    border: none;
    resize: none; /* Para que no se pueda redimensionar */
    outline: none;
    text-align: center;
    height: 60px; /* Ajusta la altura que desees */
    width: 30rem;
    resize: none;
    background-color: #0A0824;
  }

.titulo_descripcion{
    font-size: 1.5rem;
    color: white;
}