<div 
  *ngIf="isModalOpen" 
  class="modal-overlay" 
  (click)="closeModal()" 
  [ngStyle]="{'background-color': isBestUsers ? 'rgba(0, 0, 0, 0.7)' : 'rgba(0, 0, 0, 0.7)'}"
>
  <div class="contenedor_principal" (click)="$event.stopPropagation()">
    <div class="contenedor_option" [routerLink]="['/songsListened', id_user]" routerLinkActive="router-link-active">
      <img class="imagen" src="images/vynil.png" alt="photo_song">
      <p class="texto">Songs</p>
    </div>
    <div class="contenedor_option" [routerLink]="['/albumsListened', id_user]" routerLinkActive="router-link-active">
      <img class="imagen" src="images/album.png" alt="photo_album">
      <p class="texto">Albums</p>
    </div>
  </div>
</div>