<div class="contenedor_principal">
    <div class="contenedor_lista">
        <div class="datos_user">
            <img class="foto_user" src="images/steve.png" alt="">
            <p class="texto">Jexbii create the list</p>
        </div>
        <p class="title_list">“The best songs to program in Angular”</p>
        <div class="contenedor_fotos_canciones">
            <img class="imagen_song" src="images/starboy.jpg" alt="">
            <img class="imagen_song" src="images/kissland.jpg" alt="">
            <img class="imagen_song" src="images/purpose.jpg" alt="">
            <img class="imagen_song" src="images/starboy.jpg" alt="">
            <img class="imagen_song" src="images/kissland.jpg" alt="">
        </div>

        <div class="contenedor_stats">
            <p class="texto_stat">21 songs</p>
            <div class="stat">
                <img class="imagen_stat" src="images/comment.png" alt="">
                <p class="texto_stat">12</p>
            </div>
            <div class="stat">
                <img class="imagen_stat" src="images/heart.png" alt="">
                <p class="texto_stat">1,072</p>
            </div>
            <div class="contenedor_rate">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <p class="texto_stat texto_star">From 872 Ratings</p>
            </div>
        </div>

    </div>
    
</div>