<div class="contenedor_principal">
    <div class="featured_review">
        <img class="foto_user" src="images/steve.png" alt="">
        <div class="contenedor_datos">
            <p class="nombre_user">Steve</p>
            <div class="contenedor_estrellas">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
            </div>
            <p class="comment">“This song makes me travel to the beach thinking about my other half”</p>
        </div>
    </div>
    <div class="featured_review">
        <img class="foto_user" src="images/steve.png" alt="">
        <div class="contenedor_datos">
            <p class="nombre_user">Steve</p>
            <div class="contenedor_estrellas">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
            </div>
            <p class="comment">“This song makes me travel to the beach thinking about my other half”</p>
        </div>
    </div>
    <div class="featured_review">
        <img class="foto_user" src="images/steve.png" alt="">
        <div class="contenedor_datos">
            <p class="nombre_user">Steve</p>
            <div class="contenedor_estrellas">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
            </div>
            <p class="comment">“This song makes me travel to the beach thinking about my other half”</p>
        </div>
    </div>
</div>