.contenedor_principal{
    font-family: 'josefin sans', sans-serif;
    font-weight: bold;
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    max-width: 90rem;
    background-color: #0D0B29;
    border-radius: 2rem;
    padding: 2rem;
    overflow-x: auto; /* Añadir scroll horizontal si es necesario */
}

.featured_review{
    display: flex;
    width: 36.4rem;
    max-height: 26rem;
    background-color: #040317;
    border-radius: 2rem;
    gap: 1rem;
    padding: 1.5rem;
    overflow-y: auto; /* Añadir scroll vertical si el contenido es mayor que la altura definida */
}

.foto_user{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.contenedor_datos{
    display: flex;
    flex-direction: column;
}

.nombre_user{
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.contenedor_estrellas{
    display: flex;
}

.imagen_estrella{
    width: 2rem;
    height: 2rem;
}

.comment{
    font-size: 1.5rem;
    opacity: 75%;
    margin: 1rem 0;
    max-height: 10rem; /* Aumentar la altura máxima del comentario */
    overflow-y: auto; /* Añadir scroll vertical solo cuando el contenido sea mayor que la altura definida */
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

.foto_corazon{
    width: 2rem;
    height: 2rem;
}

.contenedor_likes{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.total_likes{
    font-size: 1.5rem;
    margin: 0;
}
