.contenedor_principal {
    font-family: 'jockey one', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 2rem; /* Espaciado entre elementos */
    justify-content: center; /* Alinear el grid en el centro */
    width: 100%; /* Asegurar que ocupe el espacio completo */  
}

  .grid-item {
    display: flex; /* Contenedor flexible para cada tarjeta */
    justify-content: center; /* Centrar cada tarjeta */
  }

  .contenedor_user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60rem; /* Asegurar un tamaño máximo razonable */
    height: 8rem;
    margin: 0 auto;
    background-color: #0D0B29;
    border-radius: 2rem;
    align-items: center;
  }


.datos_user{
    display: flex;
    align-items: center;
    margin: 1.5rem 0 1.5rem 1rem;
}

.foto_user{
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.nombre_user{
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 2rem;
}



.contenedor_stats{
    display: flex;
    justify-content: space-evenly;
    gap: 3.5rem;
    margin-right: 2rem;
    font-size: 2rem;
}

.stat_user{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.foto_stat{
    width: 2.5rem;
    height: 2.5rem;
}

.cantidad_stat{
    opacity: 70%;
}