<div class="contenedor_principal">
    


    <div class="contenedor_user">
        <div class="datos_user">
            <img class="foto_user" src="images/foto_user_teemo.png" alt="user" >
            <p class="nombre_user">Jexbii</p>
        </div>

        <div class="contenedor_stats">
            <div class="stat_user">
                <img class="foto_stat" src="images/song_listened.png" alt="">
                <p class="cantidad_stat">1,231</p>
            </div>
            <div class="stat_user">
                <img class="foto_stat" src="images/comment.png" alt="">
                <p class="cantidad_stat">1,231</p>
            </div>
            <div class="stat_user">
                <img class="foto_stat" src="images/lists_created.png" alt="">
                <p class="cantidad_stat">1,231</p>
            </div>
            <div class="stat_user">
                <img class="foto_stat" src="images/heart.png" alt="">
                <p class="cantidad_stat">1,231</p>
            </div>
        </div>
    </div>


</div>