<div class="contenedor_principal">
    @for (user of usersDetails; track $index) {
      <div class="grid-item">
        <div class="contenedor_user">
          <div class="datos_user">
            <img class="foto_user" [src]="user.photo || 'images/default_user.png'" alt="user">
            <p class="nombre_user">{{ user.username }}</p>
          </div>
          <div class="contenedor_stats">
            <div class="stat_user">
              <img class="foto_stat" src="images/song_listened.png" alt="">
              <p class="cantidad_stat">{{ user.total_listened }}</p>
            </div>
            <div class="stat_user">
              <img class="foto_stat" src="images/comment.png" alt="">
              <p class="cantidad_stat">{{ user.total_reviews }}</p>
            </div>
            <div class="stat_user">
              <img class="foto_stat" src="images/lists_created.png" alt="">
              <p class="cantidad_stat">{{ user.total_lists_created }}</p>
            </div>
            <div class="stat_user">
              <img class="foto_stat" src="images/heart.png" alt="">
              <p class="cantidad_stat">{{ user.total_liked }}</p>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
  