<header class="navbar">
    <a class="contenedor_logo" routerLink="/homepage">
        <p class="nombre">MelodyTracker</p>
        <img src="images/audifonos.png" alt="logo" class="logo">
    </a>

    <div class="contenedor_input">
        <i class="fa-solid fa-magnifying-glass logo_lupa" (click)="inputSearch.focus()"></i>
        <input type="text" class="input_search" #inputSearch spellcheck="false">
    </div>

    <div class="contenedor_enlaces">
        <a routerLink="/songs" routerLinkActive="active" class="nombre">Songs</a>
        <a routerLink="/playlists" routerLinkActive="active" class="nombre">Play Lists</a>
        <a routerLink="/albums" routerLinkActive="active" class="nombre">Albums</a>
        <a routerLink="/login" routerLinkActive="active" class="nombre">Sign In</a>
    </div>
</header>

<router-outlet></router-outlet>