<div class="contenedor">
    <div class="datos">
        <p class="text_login">{{ showLogin ? 'Login' : 'Register' }}</p>

        @if (showLogin) {
            <app-logindata></app-logindata>
        } 

        @if (!showLogin) {
            <app-registerdata></app-registerdata>
        }
            
    </div>
    <div class="contenedor_imagen">
        <img class="imagen_login" src="images/loginImage.jpg" alt="">
        <div class="contenedor_boton">
             @if (showLogin) {
                <p class="texto_boton">If you don't have an account you can register here:</p>
                <button class="btn_login" id="btnRegister" type="button" (click)="toggleView()">Register</button>
             }
            
            @if (!showLogin) {
                <p class="texto_boton">If you already have an account, log in here:</p>
                <button class="btn_login" id="btnLogin" type="button" (click)="toggleView()">Login</button>
            }
            
        </div>
    </div>
</div>