/* nav-bar-unlogin.component.css */

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:host {
    font-family: 'Jockey One', sans-serif; /* Aplica la fuente a todo el componente */
}

.navbar {
    padding-top: 2rem; /* 20px */
    display: flex;
    background-color: #040317;
    font-size: 2.8rem; /* 28px */
    justify-content: center;
    align-items: center;
    gap: 5.5rem; /* 55px */
    width: 100%;
    min-width: 100rem; /* 1100px */
}

.contenedor_logo {
    display: flex;
    align-items: center;  
    padding-right: 1.5rem; /* 15px */
}

.logo {
    width: 7rem; /* 112px */
    margin-left: 1rem;
}

.contenedor_input {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.27);
    padding: 0.4rem 0; /* 4px */
    border-radius: 2rem; /* 20px */
}

.logo_lupa {
    color: rgba(255, 255, 255, 0.50);
    opacity: 100%;
    padding: 0 1rem 0 1.5rem; /* 10px y 15px */
    font-size: 2rem; /* 20px */
    cursor: text;
}

.input_search {
    font-family: 'Jockey One', sans-serif;
    width: 27.5rem; /* 275px */
    border: none; 
    height: 2.8rem; /* 28px */
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    margin-right: 1rem; /* 10px */
    color: white;
    font-size: 2.5rem; /* 25px */
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.contenedor_perfil{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img_profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contenedor_enlaces{
    align-items: center;
    display: flex; 
    gap: 5.5rem; 
    margin-left: 3rem;
}

/* MEDIA QUERYS*/


/* LAPTOP */
@media (max-width: 1366px) {
    .navbar {
      font-size: 2rem;
      gap: 1rem;
    }

    .contenedor_enlaces{
        gap: 2.5rem;
    }

    .img_profile{
        width: 40px;
        height: 40px;
    }

    .logo {
        width: 6rem; /* 112px */
        margin-left: 1rem;
    }
  
}

/* TABLET */
@media (max-width: 1025px) {
    .navbar {
      font-size: 1.8rem;
    }

    .contenedor_input {
        width: 20%;
    }

    .input_search{
        width: 80%;
    }

    .logo {
        width: 7.5rem;
    }
  
    .img_profile{
        width: 30px;
        height: 30px;
    }

    .contenedor_enlaces{
        gap: 2rem;
    }

    .logo {
        width: 5rem; /* 112px */
        margin-left: 1rem;
    }
}




/* MÓVIL 
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: center; 
        font-size: 3rem;
        gap: 2rem;
        padding-top: 0;
    }

    .contenedor_input {
        width: 35%;
        padding: 0.9rem 0; 
    }

    .contenedor_enlaces {
        display: flex; 
        justify-content: center; 
        gap: 2rem; 
        width: 100%; 
    }

    .navbar > a {
        margin: 0; 
    }

    .contenedor_logo{
       padding: 0;
    }

    .input_search{
        width: 90%;
    }
}


*/