<header class="navbar">
  <a class="contenedor_logo" routerLink="/homepage">
    <p class="nombre">MelodyTracker</p>
    <img src="images/audifonos.png" alt="logo" class="logo">
  </a>

  <app-search></app-search>
  <!-- <div class="contenedor_input">
    <i class="fa-solid fa-magnifying-glass logo_lupa" (click)="inputSearch.focus()"></i>
    <input type="text" class="input_search" #inputSearch spellcheck="false">
  </div> -->

  <div class="contenedor_enlaces">
    <a href="#" class="nombre">Songs</a>
    <a href="#" class="nombre">Play Lists</a>
    <a href="#" class="nombre">Albums</a>
    <a href="#" class="nombre" (click)="openModal($event)">Create List</a>

    <div class="contenedor_perfil" (click)="toggleDropdown()">
      <img [src]="photo" alt="Profile Picture" class="img_profile">
      <p class="nombre">{{ username }}</p>
      
      <!-- Dropdown menu -->
       @if (showDropdown) {
        <div class="dropdown">
          <a [routerLink]="['/profile', userId]" class="dropdown-item">Profile</a>
          
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
       }
      
    </div>
  </div>
</header>
  
  <!-- Mostrar el Modal solo cuando isOpen sea true -->
   @if (isOpen) {
    <app-create-list (close)="closeModal()"></app-create-list>
   }
  
  