.contenedor_principal{
    margin: 0 auto;
}

.contenedor_follows {
    display: grid;
    gap: 2rem; /* Espaciado entre filas y columnas */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente los elementos en sus celdas */
    max-width: 1200px; /* Ajusta el ancho máximo si es necesario */
    margin: 0 auto; /* Centrar todo el contenedor en la página */
  }