
<!-- Mostrar los datos del perfil -->
<div class="contenedor_principal">
    <app-profile-datos-user></app-profile-datos-user>
  
  
  
  <!-- contedor_bio_stats -->
      <app-profile-bio-stats></app-profile-bio-stats>
  
  
  
  <!-- contenedor_history -->
      <app-profile-history></app-profile-history>
  
  
  
  <!-- contenedor_lists -->
      <app-profile-popular-lists></app-profile-popular-lists>
  
</div>

<div class="contenedor_botones">
    <button class="boton_cancelar" (click)="cancelEdit()">Cancel</button>
    <button class="boton_guardar" (click)="saveBio()" (click)="saveProfile()">Save</button>
</div>
  