.contenedor_watchlist{
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 1650px;
    margin: 0 auto;
    row-gap: 1.5rem;
    background-color: #0D0B29;
    border-radius: 2rem;
}