<div class="contenedor_principal">
    <div class="contenedor_stat">
        <img class="imagen_stat" src="images/song_listened.png" alt="">
        <div class="texto_stat">Listened</div>
    </div>
    <div class="contenedor_stat">
        <img class="imagen_stat" src="images/heart.png" alt="">
        <div class="texto_stat">Like</div>
    </div>
    <div class="contenedor_stat">
        <img class="imagen_stat" src="images/reloj.png" alt="">
        <div class="texto_stat">Watch List</div>
    </div>
</div>