<div class="contenedor_principal">
    <img class="imagen_album" src="images/album.jpg" alt="">

    <div class="contenedor_datos">
        <div class="contenedor_user_name">
            <img class="foto_user" src="images/steve.png" alt="">
            <p class="nombre_user">Jexbii created the list </p>
        </div>
        <p class="name_list">“The best songs to program in Angular”</p>
        <p class="description_list">Si programas en angular esta es sin duda tu mejor opción para concentrate. 
            Disfruta de la Musica Mientras Tiras codigo y terminas el proyecto que te dejó el profe Herman.</p>
        <div class="contenedor_stats">
            <p class="texto_stat">21 songs</p>
            <div class="contenedor_cuatro">
                <img class="imagen_stat" src="images/comment.png" alt="">
                <p class="texto_stat">12</p>
            </div>
            <div class="contenedor_cuatro">
                <img class="imagen_stat" src="images/heart.png" alt="">
                <p class="texto_stat">385</p>
            </div>
            <div class="contenedor_rate">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <img class="imagen_estrella" src="images/star.png" alt="">
                <p class="texto_total_ratings">From 872 Ratings</p>
            </div>
            
        </div>
    </div>
</div>