<div *ngFor="let list of userLists" class="contenedor_principal">
    <img class="imagen_album" [src]="list.list_photo || 'images/album.jpg'" alt="">
  
    <div class="contenedor_datos">
      <div class="contenedor_user_name">
        <img class="foto_user" [src]="list.creator_photo || 'images/steve.png'" alt="">
        <p class="nombre_user">{{ list.creator_name }} created the list</p>
      </div>
      <p class="name_list">{{ list.name }}</p>
      <p class="description_list">{{ list.description }}</p>
      <div class="contenedor_stats">
        <p class="texto_stat">{{ list.total_songs }} songs</p>
        <div class="contenedor_cuatro">
          <img class="imagen_stat" src="images/comment.png" alt="">
          <p class="texto_stat">{{ list.total_reviews }}</p>
        </div>
        <div class="contenedor_cuatro">
          <img class="imagen_stat" src="images/heart.png" alt="">
          <p class="texto_stat">{{ list.total_likes }}</p>
        </div>
        <div class="contenedor_rate">
          <!-- Mostrar solo las estrellas completas o medias -->
          <img *ngFor="let star of getRoundedStars(list.average_score); let i = index"
               [src]="star === 1 ? 'images/star.png' : (star === 0.5 ? 'images/star-half.png' : '')"
               class="imagen_estrella" alt="">
  
          <p class="texto_total_ratings">From {{ list.total_ranks }} Ratings</p>
        </div>
      </div>
    </div>
  </div>
  