<div class="contenedor_principal">
    <div class="lado_izquierdo">
        <app-datos-song-album></app-datos-song-album>
        <p class="texto_contenedor">List Songs</p>
        <app-songs-on-album></app-songs-on-album>
        <p class="texto_contenedor texto_contenedor_featured">Featured Reviews</p>
        <app-featured-reviews></app-featured-reviews>
        <p class="texto_contenedor texto_contenedor_reviews">Reviews</p>
    </div>
    <div class="lado_derecho">
        <app-listen-like-watch></app-listen-like-watch>
        <app-your-rating></app-your-rating>
        <app-btn-review></app-btn-review>
    </div>    
</div>

<app-comment></app-comment>


<app-btn-view-more></app-btn-view-more>
