<div class="contenedor_history">
    <div class="contenedorx4" [routerLink]="['/songsListened', id_user]" routerLinkActive="router-link-active" >
        <p class="titulox4">Songs Listened To</p>
        <!-- <p class="titulox4">Songs Listened To <span class="cantidadx4">{{ recentActivities.recent_songs.length }}</span></p> -->
        <div class="imagenesx4">
            @for (song of recentActivities.recent_songs; track $index) {
                <img class="imagenx4" [src]="song.photo" alt="song.title">
            }
        </div>
    </div>

    <div class="contenedorx4" [routerLink]="['/albumsListened', id_user]" routerLinkActive="router-link-active" >
        <p class="titulox4">Albums listened to</p>
        <!-- <p class="titulox4">Albums listened to <span class="cantidadx4">{{ recentActivities.recent_albums.length }}</span></p> -->
        <div class="imagenesx4">
            @for (album of recentActivities.recent_albums; track $index) {
                <img class="imagenx4" [src]="album.photo" alt="album.title">
            }
        </div>
    </div>

    <div class="contenedorx4" [routerLink]="['/myLists', id_user]" routerLinkActive="router-link-active" >
        <p class="titulox4">Created Lists</p>
        <!-- <p class="titulox4">Created Lists <span class="cantidadx4">{{ recentActivities.recent_lists.length }}</span></p> -->
        <div class="imagenesx4">
            @for (list of recentActivities.recent_lists; track $index) {
                <img class="imagenx4" [src]="list.photo" alt="list.title">
            }
            
        </div>
    </div>

    <div class="contenedorx4" (click)="openModalWatchlist()">
        <p class="titulox4">Watch List</p>
        <!-- <p class="titulox4">Watch List <span class="cantidadx4">{{ recentActivities.recent_watchlist_songs.length }}</span></p> -->
        <div class="imagenesx4">
            @for (song of recentActivities.recent_watchlist_songs; track $index) {
                <img class="imagenx4" [src]="song.photo" alt="song.title">
            }
            
        </div>
    </div>
</div>

<app-watchlist-options [id_user]="id_user"></app-watchlist-options>