@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:host {
    font-family: 'Jockey One', sans-serif; /* Aplica la fuente a todo el componente */
}

p{
    margin: 0;
    padding: 0;
}

.contenedor_principal {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    align-items: center;
    gap: 3rem;
    width: 177.5rem;
    height: 62rem;
    margin: 0 auto;
}

.contenedor_datos_user{
    display: flex;
    flex-direction: column;
    grid-template-rows: 10% 55% 20%;
    text-align: center;
    justify-content: center;
    background-color: #0D0B29;
    border-radius: 2rem;
    height: 62rem;
}

.contenedor_edit_profile{
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
    margin: 0 0 3rem 0;
    height: 40px;
}

.foto_engranaje{
    width: 2.8rem;
    height: 2.8rem;
}

.contenedor_foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contenedor_foto {
    position: relative; /* Necesario para posicionar el botón respecto al contenedor */
    text-align: center; /* Centra el texto y otros elementos dentro */
    align-items: center;
    justify-content: center;
  }
  
  
  .btn_follow {
    font-family: 'jockey one', sans-serif;
    position: absolute;
    bottom: +25%; 
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    height: 4rem;
    background-color: #003369;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .btn_follow:hover {
    background-color: #012145;
  }
  
  .btn_follow_clicked {
    background-color: #003369; /* Nuevo color cuando el botón está clicado */
  }
  

.foto_user{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 0.5rem solid white;
}

.nombre_user{
    font-size: 4rem;
    margin: 3rem 2rem 2rem 2rem;
    background-color: #0A0824;
    border-radius: 2rem;
}

.contenedor_stats_user{
    background-color: #0A0824;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5rem;
    width: 38rem;
    height: 8rem;
    padding: 1rem 0;
    margin: 2rem auto;
    border-radius: 2rem;
    line-height: 1;
}

.valor_stats{
    font-size: 3rem;
}

.titulo_stats{
    font-size: 2rem;
    opacity: 60%;
}





/*BIOGRAFICA Y STATS*/
.contenedor_bio_stats{
    display: flex;
    flex-direction: column; 
    gap: 2.2rem; 
}

.contenedor_biografia{
    width: 44rem;
    height: 41.8rem;
    background-color: #0D0B29;
    border-radius: 2rem;
    padding: 3rem;
}


.titulo_bio{
    font-size: 2.5rem;
}

.texto_bio{
    font-size: 1.5rem;
    margin-top: 1rem;
    opacity: 65%;
}



.contenedor_stats_bio{
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    width: 44rem;
    height: 18rem;
    border-radius: 2rem;
}


.contenedor_ranked_reviews{
    background-color: #0D0B29;
    width: 19rem;
    height: 100%;
    border-radius: 2rem;
    display: grid;
    align-content: center;
    justify-content: center;
}

.contenedor_imagen_texto_review_ranked{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.titulo_ranked_review{
    font-size: 3rem;
}

.imagen_ranked_review{
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
}

.texto_ranked_review{
    font-size: 5rem;
    margin-top: 1rem;
}



/*HISTORY SONGS LISTS*/
.contenedor_history{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    width: 33rem;
}

.contenedorx4{
    background-color: #0D0B29;
    width: 33rem;
    height: 13.9rem;
    border-radius: 2rem;
    font-size: 2rem;
    text-align: center;
}

.titulox4{
    margin: 0.5rem 0;
}

.cantidadx4{
    opacity: 60%;
    font-size: 1.8rem;
    margin-left: 0.3rem;
}

.imagenesx4 {
    position: relative;
    width: 100%; /* Ajusta el ancho para contener las imágenes solapadas */
    height: 10rem; /* Asegura que la altura es suficiente para mostrar las imágenes */
    margin: 0 auto; /* Centra el contenedor de las imágenes */
}

.imagenx4 {
    position: absolute;
    max-width: 8rem; /* Tamaño de la imagen */
    min-width: 8rem;
    min-height: 8rem;
    max-height: 8rem;
    height: auto;
    border-radius: 1rem;
}

.imagenx4:nth-child(1) {
    left: 10%;

}

.imagenx4:nth-child(2) {
    left: 25%; 

}

.imagenx4:nth-child(3) {
    left: 40%;

}

.imagenx4:nth-child(4) {
    left: 53%;

}

.imagenx4:nth-child(5) {
    left: 65%;
}


/*POPULAR LISTS*/
.contenedor_popular_lists{
    width: 46rem;
    height: 62rem;
    background-color: #0D0B29;
    border-radius: 2rem;
    text-align: center;
}

.contenedor_titulo{
    font-size: 4.5rem;
    margin: 2rem;
}


.fourth_lists{
    display: flex;
    flex-direction: column; 
    gap: 3rem;
    align-items: center;
}

.popular_list{
    position: relative;
    width: 43rem;
    height: 10rem;
    background-color: #040317;
    border-radius: 1.5rem;
    align-items: center;
    align-content: center;
}

.imagen_popular_list{
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-radius: 10%;
}

/* Superposición de cada imagen */
.imagen_popular_list:nth-child(1) {
    left: 5%;
    bottom: 20%;
}

.imagen_popular_list:nth-child(2) {
    left: 15%; 
    bottom: 20%;
}

.imagen_popular_list:nth-child(3) {
    left: 25%;
    bottom: 20%;
}

.imagen_popular_list:nth-child(4) {
    left: 35%;
    bottom: 20%;
}

.contenido_popular_list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 8rem;
    font-size: 1.6rem;
    line-height: 1; /* Ajusta según sea necesario */
}

.nombre_lista{
    display: flex;
    gap: 1rem;
    width: 21.8rem; /* Define el ancho deseado */
    margin-left: auto; /* Empuja el contenido hacia la derecha */
    justify-content: center;
    font-size: 2.6rem;
}

.stats_lista{
    display: flex;
    gap: 1rem;
    width: 19rem; /* Define el ancho deseado */
    margin-left: auto; /* Empuja el contenido hacia la derecha */


}

.imagen_stat{
    width: 1.8rem;
    height: 1.8rem;
}

.stat{
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.cantidad{
    opacity: 60%;
}

.contenedorx4{
    cursor: pointer;
}