<div class="contenedor_history">
    <div class="contenedorx4">
        <p class="titulox4">Songs Listened To <span class="cantidadx4">674</span></p>
        <div class="imagenesx4">
            <img class="imagenx4" src="images/BeautyBehindtheMadness.jpg" alt="">
            <img class="imagenx4" src="images/purpose.jpg" alt="">
            <img class="imagenx4" src="images/changes.jpg" alt="">
            <img class="imagenx4" src="images/starboy.jpg" alt="">
            <img class="imagenx4" src="images/purpose.jpg" alt="">
        </div>
    </div>
    <div class="contenedorx4">
        <p class="titulox4">Albums listened to <span class="cantidadx4">42</span></p>
        <div class="imagenesx4">
            <img class="imagenx4" src="images/BeautyBehindtheMadness.jpg" alt="">
            <img class="imagenx4" src="images/purpose.jpg" alt="">
            <img class="imagenx4" src="images/changes.jpg" alt="">
            <img class="imagenx4" src="images/starboy.jpg" alt="">
            <img class="imagenx4" src="images/purpose.jpg" alt="">
        </div>
    </div>
    <div class="contenedorx4">
        <p class="titulox4">Created Lists <span class="cantidadx4">21</span></p>
        <div class="imagenesx4">
            <img class="imagenx4" src="images/BeautyBehindtheMadness.jpg" alt="">
            <img class="imagenx4" src="images/purpose.jpg" alt="">
            <img class="imagenx4" src="images/changes.jpg" alt="">
            <img class="imagenx4" src="images/starboy.jpg" alt="">
            <img class="imagenx4" src="images/purpose.jpg" alt="">
        </div>
    </div>
    <div class="contenedorx4">
        <p class="titulox4">Watch List <span class="cantidadx4">390</span></p>
        <div class="imagenesx4">
            <img class="imagenx4" src="images/BeautyBehindtheMadness.jpg" alt="">
            <img class="imagenx4" src="images/purpose.jpg" alt="">
            <img class="imagenx4" src="images/changes.jpg" alt="">
            <img class="imagenx4" src="images/starboy.jpg" alt="">
            <img class="imagenx4" src="images/purpose.jpg" alt="">
        </div>
    </div>
</div>