
<div class="contenedor_principal">
    <div class="contenedor_foto_review">
        <img class="foto_review" src="images/purpose.jpg" alt="">
    </div>
    <div class="datos_review">
        <div class="contenedor_nombre_released">
            <p class="nombre_song">Purpose</p>
            <p class="released_song">2004</p>
        </div>
        <p class="nombre_artist">Justin Bieber</p>
        <p class="titulo_rate">Rate</p>
        <div class="contenedor_rate">
            <img class="imagen_estrella" src="images/star.png" alt="">
            <img class="imagen_estrella" src="images/star.png" alt="">
            <img class="imagen_estrella" src="images/star.png" alt="">
            <img class="imagen_estrella" src="images/star.png" alt="">
            <img class="imagen_estrella" src="images/star.png" alt="">
        </div>
        <p class="review_user">“At first I didn't like the song so much but then I started to feel like my butt started to dance by itself, I got scared but I let myself go, DURO.”</p>
    </div>
</div>